*{
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Space Mono', monospace;
}
body{
    margin: 20px;
    background-color: hsl(233, 47%, 7%);
}

.imagen img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.container{
    border-radius: 20px;
    background-color: hsl(244, 38%, 16%);
    color: white;
    text-align: center;
}

.general{
    padding-top: 20px;
}

p{
    padding-top: 20px;
}

.subcontainer{
    text-align: center;
    padding: 10px;
}

.resaltado{
    color: hsl(277, 64%, 61%);
}

.info{
    margin: 30px;
}
.info p{
    padding: 0;
}

@media (min-width: 1440px) {
.container{
    display: flex;
    flex-direction: row-reverse;
    font-weight: 700;
    }
    div.imagen{
        width: 100%;
    }

    .imagen img{
        width: 100%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    .subcontainer{
        display: flex;
    }

    .general{
        padding: 70px;
        text-align: left;
        margin-top: 120px;
        
    }

    .info{
        text-align: left;
        padding: 50px;
    }
}